md-card {
  //MAKE SURE PRINTER IS LANDSCAPE AND MINIMAL BORDERS
  width: 288px;
  height: 384px;
  padding: 0;
  overflow: hidden;
  border: 2px solid black;
  md-card-header {
    md-card-title {
      font-size: 45px;
      margin: 10px 0;
    }
    md-card-subtitle {
      //font-size: small;
      padding: 10px 0;
      margin: 0;
    }
    * {
      text-align: center;
    }
    /deep/ .mat-card-header-text {
      width: 100%;
      margin: 0;
    }
  }
  md-card-content {

    &.card-image-wrapper div {
      width: 100%;
      height: 100%;
    }

    text-align: center;
    .playing-card-midbar {
      margin-bottom: 0;
    }
    &.card-image-wrapper {
      height: 116px;
      width: 100%;
    }
  }
  .playing-card-midbar {
    height: 1em;
    background: rgba(192, 192, 192, 0.25);
    padding: .05in .1in;
  }
  .playing-card-main-content {
    padding: 10px;
  }
}
